<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .center iframe {
      <!-- width=960px; -->
      <!-- height=569px; -->
      width: 300px;
      height: 200px;
      margin: 0 auto;
      display: block;
      <!-- position: absolute; -->
      <!-- left: 50%; -->
      <!-- top: 50%; -->
      <!-- transform: translate(-50%,-50%); -->
      }
    </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cargo Codes - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Cargo Codes</a>
	</div>
	<div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
	</div><!--/.nav-collapse -->
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="starter-template">
        <h1>About Cargo Codes</h1>
      </div>
    </div><!-- /.container -->

    <div class="container opening-desc">
        <p>Many shipping containers imported into the United States are accompanied by only partial information detailing their contents. For instance, the shipping company may not be identified, the content weight could be uncertain, and various regulatory codes may be missing. Here is an example taken from the U.S. Census Bureau's publicly available trade data:</p>

      <table class="table table-hover">
	<tr><th>ID</th><th>Run Date</th><th>Vessel Name</th><th>Port of Unlading</th><th>Port of Lading</th><th>Content Description</th><th>Schedule B Code</th></tr>
	<tr><td>201510072520</td><td>2015-10-07</td><td>MAERSK HARTFORD</td><td>New York/Newark Area, Newark, New Jersey</td><td>PIPAPAV, INDIA</td><td>INJECTION MOULDING MACHINE</td><td></td></tr>
      </table>

        <p>Note that the tariff code in this entry is missing, making it difficult to accurately assess taxes on the goods. With over $230 billion in annual imports, such innacurate or absent data represents an easy opportunity for lost revenue. This website addresses the problem by matching official text descriptions of different tax schedules provided by the U.S. government with user input to generate a list of the most relevant tariff codes for the shipment. The slides below were used in the presentations accompanying this project. </p>

    </div><!-- /.container -->

    <div class="center">
      <iframe src="https://docs.google.com/presentation/d/15mWLEBni0aA3DoX5rlkRH7mCI8U4mWIKGadOEbiVU_s/embed?start=false&loop=false&delayms=10000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div><!-- /.container -->


    <footer class="footer">
      <div class="container">
        <p class="text-muted">Alexander Holiday | <a href="https://github.com/glinka/tariff-codes">GitHub</a></p>
      </div>
    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
